.plm1{
background-color:#0088FF;
color:#070707;
}
.plm2{
background-color:#FF9D1C;
color:#0A0202;
}
.plm3{
background-color:#03661A;
color:#FFFFFF;
}
.plm4{
background-color:#FF1C1C;
color:#FFFFFF;
}
.plm5{
background-color:#750000;
color:#070707;
}
.plm6{
background-color:#070133;
color:#FFFFFF;
}
.plm7{
background-color:#A3609C;
color:#070707;
}
.plm8{
background-color:#32FFE7;
color:#0B0B0B;
}
